body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    padding-bottom: 20px;

}

header {
    background-color: white;
    color: white;
    padding: 10px;
    text-align: left;
}

nav {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #333333;
    color: #ffffff;
}

section {
    padding: 10px;
    width: 20cm;
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

footer {
    background-color: white;
    color: grey;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.logo-container {
    display: flex;
    align-items: left;
    justify-content: left; /* Center the logo and text horizontally */
    padding: 10px;
    width: 75%;
    background-color: white; /* Adjust to your preferred color */
}

.logo {
    max-width: 75%; /* Makes the logo responsive */
    width: 50%;
    height: auto; /* Maintains the aspect ratio of the logo */
}

header h1 {
    color: black; /* Ensure the text color contrasts with the background */
    margin: 0;
    font-weight: 700;
}

header h2 {
    color: black; /* Ensure the text color contrasts with the background */
    margin: 0;
    font-weight: 400;
}